@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.signup button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 30px;
}

#no-border {
    border: none;
}

.weewoo {
    font-size: 24px;
    color: #F9FAF8;
}

.weewoo,
.hero-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
}

.dark-blue-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1F2937;
}

.section-one {
    display: flex;
    max-width: 1220px;
    padding: 120px 0px;
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 1220px;
    padding-top: 20px;
}

.links {
    display: flex;
    gap: 40px;
}

.sc-one-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    gap: 10px;
}

.img-container {
    flex: 1;
}

.image {
    height: auto;
    width: 610px;
    border: 2px solid #0e131a;
}

.two-image,
.box {
    border: 3px solid #3882f6;
    border-radius: 25px;
    aspect-ratio: 1 / 1;
    margin-bottom: 10px;
    width: 200px;
}

.two-container {
    max-width: 200px;
}

.two-text {
    text-align: center;
}

.section-two {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.two-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px 0px;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-credit {
   color: #1F2937;
   font-size: 24px;
   font-weight: bold;
   margin-left: auto;
   padding-right: 20px;
}

.three-container{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap: 20px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.signup-box {
    width: 1220px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    padding: 50px 100px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.aawagga {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.four-title {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.four-text {
    font-size: 18px;
    color: white;
}

#white-border {
    border: 2px white solid;
}

.footer {
    background-color: #1F2937;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}

.footer-text {
    color: #F9FAF8;
}